<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:8080/ ">
    <title>Exchange Rate</title>
</head>
<body>
    <h1>Exchange Rates</h1>
    <!--/*@thymesVar id="conversion" type="lombok"*/-->
    <form action="#" th:action="@{/conversion}" th:object="${conversion}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <p> Current Currency: <input type="text" id="form3" name="sourceCurrency" class="white-text form-control"> </p>
        <p> Desired Currency: <input type="text" id="form4" name="targetCurrency" class="white-text form-control"> </p>
        <p> Amount to exchange: <input type="text" id="form5" name="monetaryValue" class="white-text form-control"> </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    </script>

</body>
</html>